﻿<div class="jumbotron">
    <h1>Web API Request Validator</h1>
    <p class="lead">Utilize DataAnnotations on your ASP.Net Web API models and return your own complex validation models, flattened models or default model state models.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Model</h2>
        <pre>
public class ValidationTestModel
{
    [Required]
    public string Name { get; set; }

    [Required]
    [Range(18, 65)]
    public string Age { get; set; }
}
</pre>        
    </div>
    <div class="col-md-6">
        <h2>ValuesController Action</h2>
        <pre>
// POST api/values
public void Post([FromBody]ValidationTestModel value)
{
}
</pre>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Showing required data annotation errors</h2>
        <pre>
POST http://localhost:5091/api/values HTTP/1.1
User-Agent: Fiddler
content-type: application/x-www-form-urlencoded
Host: localhost:5091
Content-Length: 10

Name=&Age=
</pre>
        <p>Result:</p>
        <pre>
[{"Property":"Name","Errors":[{"Message":"The Name field is required."}]},{"Property":"Age","Errors":[{"Message":"The Age field is required."}]}]

</pre>
    </div>
    <div class="col-md-6">
        <h2>Showing range data annotation error</h2>
        <pre>
            
POST http://localhost:5091/api/values HTTP/1.1
User-Agent: Fiddler
content-type: application/x-www-form-urlencoded
Host: localhost:5091
Content-Length: 10
Name=&Age=
</pre>
        <p>Result:</p>
        <pre>
[{"Property":"Age","Errors":[{"Message":"The field Age must be between 18 and 65."}]}]
</pre>
    </div>
</div>
